In [1]:
"""
combine all output files from 13_CFScrossdataset.py that was split up when run to increase comp time

Shaina Lu
Zador & Gillis Labs
May 2020
"""

'\ncombine all output files from 13_CFScrossdataset.py that was split up when run to increase comp time\n\nShaina Lu\nZador & Gillis Labs\nMay 2020\n'

In [2]:
import pandas as pd
import numpy as np

# ST to ABA

In [42]:
def read4files(file1, file2, file3, file4):
    file1 = pd.read_csv(file1, sep=',', index_col=False)
    file1.set_index(file1.columns, inplace=True)
    
    file2 = pd.read_csv(file2, sep=',', index_col=False)
    file2.set_index(file2.columns, inplace=True)
    
    file3 = pd.read_csv(file3, sep=',', index_col=False)
    file3.set_index(file3.columns, inplace=True)
    
    file4 = pd.read_csv(file4, sep=',', index_col=False)
    file4.set_index(file4.columns, inplace=True)
    
    return file1, file2, file3, file4

In [65]:
def combine4df(df1, df2, df3, df4):
    df1.iloc[101:201,:] = df2.iloc[101:201,:]
    df1.iloc[201:301,:] = df3.iloc[201:301,:]
    df1.iloc[301:len(list(df1)),:] = df4.iloc[301:len(list(df1)),:]
    
    return df1

ST train

In [74]:
file1 = "/home/slu/spatial/data/cross_CFS/STtoABA_STtrain_f1_CFS_052220.csv"
file2 = "/home/slu/spatial/data/cross_CFS/STtoABA_STtrain_f1_2_CFS_052420.csv"
file3 = "/home/slu/spatial/data/cross_CFS/STtoABA_STtrain_f1_3_CFS_052420.csv"
file4 = "/home/slu/spatial/data/cross_CFS/STtoABA_STtrain_f1_4_CFS_052420.csv"
outfile = "/home/slu/spatial/data/cross_CFS/STtoABA_STtrain_f1_all_CFS_052920.csv"

In [75]:
data1, data2, data3, data4 = read4files(file1, file2, file3, file4)
allcombined = combine4df(data1, data2, data3, data4)

In [76]:
allcombined.shape

(445, 445)

In [71]:
allcombined.iloc[99:105]

,577,657,1114,606,472,632,1072,893,543,1088,...,785,241,1104,702,954,325,87,82,684,234
981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,[0.99480519 1. 0.99090909 0.9974026 1...,[1. 0.9952381 0.99194139 0.9970696 0...,[1. 0.9952381 1. 1. 0.995...,[0.99621212 1. 1. 0.99873737 1...,[0.9989011 1. 0.9989011 0.9989011 0...,[1. 1. 1. 1. 1...,[0.98571429 1. 1. 0.98857143 1...,[1. 0.99732143 1. 1. 0...,[1. 1. 1. 1. 1...,[0.97857143 1. 1. 1. 0...
427,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,[1. 1. 0.99504132 1. 1...,[0.9967366 0.9997669 0.98997669 0.97808858 0...,[1. 1. 1. 1. 1...,[0.88595041 0.99049587 0.98966942 0.98140496 0...,[0.99020979 0.94825175 0.98706294 0.96853147 0...,[1. 1. 1. 0.99772727 0...,[1. 1. 1. 0.99636364 1...,[1. 1. 1. 0.9875 1...,[1. 1. 1. 0.9969697 1...,[1. 0.99220779 0.96948052 0.92662338 0...
1029,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. ...,[1. 1. 0.97435897 1. 1...,[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. ...,[1. 1. 1. 1. 1...,[1. 1. 1. 1. 1...,[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. ...,[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. ...,[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. ...,[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. ...,[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. ...
266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,[1. 1. 1. 1. 1...,[1. 1. 1. 1. 1...,[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. ...,[1. 1. 1. 1. 1...,[1. 1. 1. 1. 1...,[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. ...,[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. ...,[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. ...,[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. ...,[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. ...
996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,[1. 1. 1. 1. 1...,[1. 0.99450549 1. 1. 1...,[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. ...,[1. 1. 1. 1. 1...,[0.98351648 1. 0.98214286 1. 1...,[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. ...,[1. 1. 1. 1. 1...,[1. 1. 0.984375 1. 1...,[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. ...,[1. 1. 1. 1. 1...
527,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,[1. 1. 1. 1. 1...,[1. 1. 1. 1. 1...,[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. ...,[0.9965035 1. 1. 1. 0...,[1. 0.99704142 1. 1. 0...,[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. ...,[1. 1. 1. 1. 1...,[1. 1. 0.99759615 1. 1...,[1. 1. 1. 1. 1...,[1. 0.99725275 1. 1. 1...

In [78]:
allcombined.to_csv(outfile, header=True, index=False)

ST test

In [79]:
file1 = "/home/slu/spatial/data/cross_CFS/STtoABA_STtest_f1_CFS_052220.csv"
file2 = "/home/slu/spatial/data/cross_CFS/STtoABA_STtest_f1_2_CFS_052420.csv"
file3 = "/home/slu/spatial/data/cross_CFS/STtoABA_STtest_f1_3_CFS_052420.csv"
file4 = "/home/slu/spatial/data/cross_CFS/STtoABA_STtest_f1_4_CFS_052420.csv"
outfile = "/home/slu/spatial/data/cross_CFS/STtoABA_STtest_f1_all_CFS_052920.csv"

In [80]:
data1, data2, data3, data4 = read4files(file1, file2, file3, file4)
allcombined = combine4df(data1, data2, data3, data4)

In [81]:
allcombined.shape

(445, 445)

In [82]:
allcombined.to_csv(outfile, header=True, index=False)

featsets ST train

In [83]:
file1 = "/home/slu/spatial/data/cross_CFS/STtoABA_featsetsSTtrain_f1_CFS_052220.csv"
file2 = "/home/slu/spatial/data/cross_CFS/STtoABA_featsetsSTtrain_f1_2_CFS_052420.csv"
file3 = "/home/slu/spatial/data/cross_CFS/STtoABA_featsetsSTtrain_f1_3_CFS_052420.csv"
file4 = "/home/slu/spatial/data/cross_CFS/STtoABA_featsetsSTtrain_f1_4_CFS_052420.csv"
outfile = "/home/slu/spatial/data/cross_CFS/STtoABA_featsetsSTtrain_f1_all_CFS_052920.csv"

In [84]:
data1, data2, data3, data4 = read4files(file1, file2, file3, file4)
allcombined = combine4df(data1, data2, data3, data4)

In [85]:
allcombined.shape

(445, 445)

In [86]:
allcombined.to_csv(outfile, header=True, index=False)

ABA all

In [87]:
file1 = "/home/slu/spatial/data/cross_CFS/STtoABA_ABAall_f1_CFS_052220.csv"
file2 = "/home/slu/spatial/data/cross_CFS/STtoABA_ABAall_f1_2_CFS_052420.csv"
file3 = "/home/slu/spatial/data/cross_CFS/STtoABA_ABAall_f1_3_CFS_052420.csv"
file4 = "/home/slu/spatial/data/cross_CFS/STtoABA_ABAall_f1_4_CFS_052420.csv"
outfile = "/home/slu/spatial/data/cross_CFS/STtoABA_ABAall_f1_all_CFS_052920.csv"

In [88]:
data1, data2, data3, data4 = read4files(file1, file2, file3, file4)
allcombined = combine4df(data1, data2, data3, data4)

In [89]:
allcombined.shape

(445, 445)

In [90]:
allcombined.to_csv(outfile, header=True, index=False)

# ABA to ST

In [100]:
def read5files(file1, file2, file3, file4, file5):
    file1 = pd.read_csv(file1, sep=',', index_col=False)
    file1.set_index(file1.columns, inplace=True)
    
    file2 = pd.read_csv(file2, sep=',', index_col=False)
    file2.set_index(file2.columns, inplace=True)
    
    file3 = pd.read_csv(file3, sep=',', index_col=False)
    file3.set_index(file3.columns, inplace=True)
    
    file4 = pd.read_csv(file4, sep=',', index_col=False)
    file4.set_index(file4.columns, inplace=True)
    
    file5 = pd.read_csv(file5, sep=',', index_col=False)
    file5.set_index(file5.columns, inplace=True)
    
    return file1, file2, file3, file4, file5

In [97]:
def combine5df(df1, df2, df3, df4, df5):
    df1.iloc[91:181,:] = df2.iloc[91:181,:]
    df1.iloc[181:271,:] = df3.iloc[181:271,:]
    df1.iloc[271:361,:] = df4.iloc[271:361,:]
    df1.iloc[361:len(list(df1)),:] = df5.iloc[361:len(list(df1)),:]
    
    return df1

ABA train

In [98]:
file1 = "/home/slu/spatial/data/cross_CFS/ABAtoST_ABAtrain_f1_1_CFS_052420.csv"
file2 = "/home/slu/spatial/data/cross_CFS/ABAtoST_ABAtrain_f1_2_CFS_052420.csv"
file3 = "/home/slu/spatial/data/cross_CFS/ABAtoST_ABAtrain_f1_3_CFS_052420.csv"
file4 = "/home/slu/spatial/data/cross_CFS/ABAtoST_ABAtrain_f1_4_CFS_052420.csv"
file5 = "/home/slu/spatial/data/cross_CFS/ABAtoST_ABAtrain_f1_5_CFS_052420.csv"
outfile = "/home/slu/spatial/data/cross_CFS/ABAtoST_ABAtrain_f1_all_CFS_052920.csv"

In [101]:
data1, data2, data3, data4, data5 = read5files(file1, file2, file3, file4, file5)
allcombined = combine5df(data1, data2, data3, data4, data5)

In [102]:
allcombined.to_csv(outfile, header=True, index=False)

ABA test

In [103]:
file1 = "/home/slu/spatial/data/cross_CFS/ABAtoST_ABAtest_f1_1_CFS_052420.csv"
file2 = "/home/slu/spatial/data/cross_CFS/ABAtoST_ABAtest_f1_2_CFS_052420.csv"
file3 = "/home/slu/spatial/data/cross_CFS/ABAtoST_ABAtest_f1_3_CFS_052420.csv"
file4 = "/home/slu/spatial/data/cross_CFS/ABAtoST_ABAtest_f1_4_CFS_052420.csv"
file5 = "/home/slu/spatial/data/cross_CFS/ABAtoST_ABAtest_f1_5_CFS_052420.csv"
outfile = "/home/slu/spatial/data/cross_CFS/ABAtoST_ABAtest_f1_all_CFS_052920.csv"

In [104]:
data1, data2, data3, data4, data5 = read5files(file1, file2, file3, file4, file5)
allcombined = combine5df(data1, data2, data3, data4, data5)

In [105]:
allcombined.to_csv(outfile, header=True, index=False)

featsets ABA train

In [106]:
file1 = "/home/slu/spatial/data/cross_CFS/ABAtoST_featsetsABAtrain_f1_1_CFS_052420.csv"
file2 = "/home/slu/spatial/data/cross_CFS/ABAtoST_featsetsABAtrain_f1_2_CFS_052420.csv"
file3 = "/home/slu/spatial/data/cross_CFS/ABAtoST_featsetsABAtrain_f1_3_CFS_052420.csv"
file4 = "/home/slu/spatial/data/cross_CFS/ABAtoST_featsetsABAtrain_f1_4_CFS_052420.csv"
file5 = "/home/slu/spatial/data/cross_CFS/ABAtoST_featsetsABAtrain_f1_5_CFS_052420.csv"
outfile = "/home/slu/spatial/data/cross_CFS/ABAtoST_featstsABAtrain_f1_all_CFS_052920.csv"

In [107]:
data1, data2, data3, data4, data5 = read5files(file1, file2, file3, file4, file5)
allcombined = combine5df(data1, data2, data3, data4, data5)

In [108]:
allcombined.to_csv(outfile, header=True, index=False)

ST all

In [109]:
file1 = "/home/slu/spatial/data/cross_CFS/ABAtoST_STall_f1_1_CFS_052420.csv"
file2 = "/home/slu/spatial/data/cross_CFS/ABAtoST_STall_f1_2_CFS_052420.csv"
file3 = "/home/slu/spatial/data/cross_CFS/ABAtoST_STall_f1_3_CFS_052420.csv"
file4 = "/home/slu/spatial/data/cross_CFS/ABAtoST_STall_f1_4_CFS_052420.csv"
file5 = "/home/slu/spatial/data/cross_CFS/ABAtoST_STall_f1_5_CFS_052420.csv"
outfile = "/home/slu/spatial/data/cross_CFS/ABAtoST_STall_f1_all_CFS_052920.csv"

In [110]:
data1, data2, data3, data4, data5 = read5files(file1, file2, file3, file4, file5)
allcombined = combine5df(data1, data2, data3, data4, data5)

In [111]:
allcombined.to_csv(outfile, header=True, index=False)